<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formularios</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <header></header>
    <main>
      <div id="app">
        <h1>{{titulo}}</h1>
        <hr />
        <br />
        <form @submit.prevent="handleSubmit()">
          <input type="text" placeholder="nombre" v-model.trim="datos.name" />
          <input
            type="number"
            placeholder="Edad"
            v-model.number="datos.edad"
            min="15"
            max="99"
          />
          <br />
          <hr />
          <h2>Lenguajes favoritos</h2>
          <input
            type="checkbox"
            id="js"
            v-model="datos.lenguaje"
            value="javascript"
          />
          <label for="js">JavaScript</label>
          <input
            type="checkbox"
            id="php"
            v-model="datos.lenguaje"
            value="php"
          />
          <label for="php">PHP</label>
          <h2>Genero</h2>
          <input
            type="radio"
            id="hombre"
            value="hombre"
            v-model="datos.genero"
          />
          <label for="hombre">hombre</label>
          <input type="radio" id="mujer" value="mujer" v-model="datos.genero" />
          <label for="mujer">mujer</label>
          <hr />
          <input type="submit" value="" placeholder="Enviar" />
        </form>
        <p>{{datos}}</p>
      </div>
    </main>
    <footer></footer>
    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
  </body>
</html>
